<!DOCTYPE html>
<html>
<head>
	<title>Трекер рабочего времени! </title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700italic,900,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://codepen.io/mkoloskof/pen/WQeRmW.css' rel='stylesheet'>
	<link href='stylesheets/grid.css' rel='stylesheet'>

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script>
		$( document ).ready(function() {
			$('.edit').click(function(){
				$(this).parent().parent().siblings('.edit-form').toggleClass('hide');
				return false
			});
		});

		//var load = function() {
		//	var editButtons = document.getElementsByClassName('edit');
		//	Array.prototype.forEach.call(editButtons, function(button) {
		//		button.addEventListener('click', function(e) {
		//			var div = this.parentElement.getElementsByClassName('edit-form')[0];
		//			
		//			var content = this.textContent;
		//			if(content === 'Редактировать') {
		//				this.textContent = 'Скрыть';
		//				div.className = 'edit-form';
		//			}
		//			else {
		//				this.textContent = 'Редактировать';			
		//				div.className = 'edit-form hide';		
		//			}
		//			
		//			e.preventDefault();
		//		});
		//	});
		//	
		//}
		//setTimeout(load, 0);
		
	</script>
	<style>
		.hide {
			display: none !important;			
		}
		.edit-form {
			display: inline-block;
		}
	</style>
</head>
<body>
	<div class="wrapper">

		<!-- Header -->
		<div class="header">
			<div class="header_logo">
				<div class="header_logo_text">
					Waster<span class="header_logo_dot">.</span>io
				</div>
				<div class="header_logo_dscr">
					Job time tracker
				</div>
			</div>
			
			<div class="h __h_l __light">
				
			</div>
		</div>
		<!-- /Header -->

		<!-- Content -->
		<div class="cnt">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
						<ul class="lst timer-lst">
							
							<% for(var i = 0; i < data.daysObjectsArray.length; i++) { %>
							<li class="lst_i timer-lst_i">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
										<span class="timer-lst_day"><%= data.daysObjectsArray[i].weekdayName %></span>: 
									</div>
									<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
										<%= data.daysObjectsArray[i].workedThisDay %>,
										<%= data.daysObjectsArray[i].overUnder ? 'переработка' : 'недоработка' %> <%= data.daysObjectsArray[i].overUnderText %> 
										(c <%= data.daysObjectsArray[i].from %> до <%= data.daysObjectsArray[i].to %>)
										<% if(data.daysObjectsArray[i].fake !== true) { %>
									</div>
										
									<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
										<a href="#" class="edit">Редактировать</a>
									</div>
								</div>
		
									<div class="edit-form hide"> <!-- .hide -->
										<form method="POST" action="/editDay/<%= i %>">
											<div class ="row">
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
													<input type="hidden" name="username" value="<%= username %>" class="it"/>
													<input type="text" name="inDate" value="<%= data.daysObjectsArray[i].from %>" class="it"/>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
													<% if(data.daysObjectsArray[i].to !== 'сейчас') { %>
														<input type="text" name="outDate" value="<%= data.daysObjectsArray[i].to %>" class="it"/>
													<% } %>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
													<input type="submit" value="Сохранить" class="btn __full-width"/>
												</div>
											</div>
										</form>

									</div>
									
								</li>
							<% } %>
						<% } %>
							
						</ul>
						<br>

						<div class="result">
							<div class="result_work">
								Осталось <%= data.left %> (~ <%= data.leftPerDay %> в день)
							</div>
							<div class="result_finish">
								Идеальный конец рабочего дня в <%= data.endDay %>
							</div>
							<div class="result_advice">
								Рекомендуемый конец рабочего дня в <%= data.recommendedEndDay %>
							</div>
							<br>
							<% if(!currentDayFinished) { %>
								<div>
									<form action="/check" method="POST">
										<input type="hidden" name="username" value="<%= username %>" />
										<% if(data.daysObjectsArray[data.daysObjectsArray.length - 1].to === 'сейчас') { %>
											<input type="submit" value="Я ухожу" class="btn"/>
										<% } else { %>
											<input type="submit" value="Я пришел" class="btn"/>
										<% } %>
									</form>
								</div>
							<% } %>
						</div>

						<div class="slack">
							<form action="/subscribe" method="POST">
								<input type="hidden" name="username" value="<%= username %>" />
								<% if(!subscription) { %>
									<div class ="row">
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
											<label>username в slack</label>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
											<input type="text" name="slackUsername" value="" class="it"/>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
											<input type="submit" value="Подписаться" class="btn"/>
										</div>
									</div>
								<% } else { %>
									Подписан в slack: <%= subscription.slack_username %>
									<br>

									<input type="submit" value="Отписаться" class="btn"/>
								<% } %>
							</form>
						</div>
						<div class="fool">
							На этой страничке не предусмотрена защита от дурака, поэтому не делайте глупостей.
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- /Content -->
		<div class="push"></div>
	</div>
	<!-- Footer -->
	<div class="footer">
		<a href="#" class="copyright">&copy; Copyright</a>
	</div>
	<!-- /Footer -->
</body>
</html>