<!DOCTYPE html>
<html>
<head>
	<title>Трекер рабочего времени! </title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700italic,900,700' rel='stylesheet' type='text/css'>
	<link href='http://codepen.io/mkoloskof/pen/WQeRmW.css' rel='stylesheet'>
	<link href='stylesheets/grid.css' rel='stylesheet'>
	<script>
		var load = function() {
			var editButtons = document.getElementsByClassName('edit');
			Array.prototype.forEach.call(editButtons, function(button) {
				button.addEventListener('click', function(e) {
					var div = this.parentElement.getElementsByClassName('edit-form')[0];
					
					var content = this.textContent;
					if(content === 'Редактировать') {
						this.textContent = 'Скрыть';
						div.className = 'edit-form';
					}
					else {
						this.textContent = 'Редактировать';			
						div.className = 'edit-form hide';		
					}
					
					e.preventDefault();
				});
			});
			
		}
		setTimeout(load, 0);
		
	</script>
	<style>
		.hide {
			display: none !important;			
		}
		.edit-form {
			display: inline-block;
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<div class="h __h_l __light">
				Трекер рабочего времени
			</div>
		</div>
		<div class="cnt">
			<div class="container">

				<% for(var i = 0; i < data.daysObjectsArray.length; i++) { %>
					<ul class="lst timer-lst">
						<li class="lst_i timer-lst_i">
							<%= data.daysObjectsArray[i].weekdayName %>: <%= data.daysObjectsArray[i].workedThisDay %>, 
							<%= data.daysObjectsArray[i].overUnder ? 'переработка' : 'недоработка' %> <%= data.daysObjectsArray[i].overUnderText %> 
							(c <%= data.daysObjectsArray[i].from %> до <%= data.daysObjectsArray[i].to %>)
							
							<% if(data.daysObjectsArray[i].fake !== true) { %>
								<a href="#" class="edit">Редактировать</a>
								<div class="edit-form hide">
									<form method="POST" action="/editDay/<%= i %>">
										<input type="hidden" name="username" value="<%= username %>" class="it"/>
										<input type="text" name="inDate" value="<%= data.daysObjectsArray[i].from %>" class="it"/>
										<% if(data.daysObjectsArray[i].to !== 'сейчас') { %>
											<input type="text" name="outDate" value="<%= data.daysObjectsArray[i].to %>" />
										<% } %>
										<input type="submit" value="Сохранить" class="btn"/>
									</form>

								</div>
							<% } %>
						</li>
					</ul>
				<% } %>

				<br>

				<div class="result">
					<div class="div">
						Осталось <%= data.left %> (~ <%= data.leftPerDay %> в день)
					</div>
					<div class="div">
						Идеальный конец рабочего дня в <%= data.endDay %>
					</div>
					<div class="div">
						Рекомендуемый конец рабочего дня в <%= data.recommendedEndDay %>
					</div>
					<br>
					<% if(!currentDayFinished) { %>
						<div>
							<form action="/check" method="POST">
								<input type="hidden" name="username" value="<%= username %>" />
								<% if(data.daysObjectsArray[data.daysObjectsArray.length - 1].to === 'сейчас') { %>
									<input type="submit" value="Я ухожу!" />
								<% } else { %>
									<input type="submit" value="Я пришел!" class="btn"/>
								<% } %>
							</form>
						</div>
					<% } %>
				</div>

				<div class="slack">
					<form action="/subscribe" method="POST">
						<input type="hidden" name="username" value="<%= username %>" />
						<% if(!subscription) { %>
							<label>username в slack</label>
							<input type="text" name="slackUsername" value="" class="it"/>
							<br>
							<input type="submit" value="Подписаться" class="btn"/>
						<% } else { %>
							Подписан в slack: <%= subscription.slack_username %>
							<br>

							<input type="submit" value="Отписаться" class="btn"/>
						<% } %>
					</form>
				</div>
				<div class="fool">
					На этой страничке не предусмотрена защита от дурака, поэтому не делайте глупостей.
				</div>
			</div>
		</div>
		<div class="push"></div>
	</div>
	<div class="footer">
		<a href="#" class="copyright">Copyright</a>
	</div>
</body>
</html>